@model PayboardApiTest.Models.HomeIndexModel
@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="http://dev.payboard.com/Widget/v1.0/Payboard.js"></script>
    <script type="text/javascript">
        Payboard.Events.setApiKey('826ae4c9-d268-4ef3-836d-4551217ea987');
        var event = {
            customerId: '@Model.CustomerId',
            customerName: '@Model.CustomerName',
            endUserId: '@Model.CustomerUserId',
            endUserName: '@Model.CustomerUserName',
            endUserEmail: '@Model.CustomerUserEmail',
            eventName: 'SawAboutPage'
        };
        Payboard.Events.trackEndUserEvent(event)
            .done(function() {
                console.log("End user event tracked");
            })
            .fail(function(err) {
                console.error("Unable to track end user event: " + JSON.stringify(err));
            });
    </script>
}
