@model PayboardApiTest.Models.CustomerUserModel
@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="http://dev.payboard.com/Widget/v1.0/Payboard.js"></script>
    <script type="text/javascript">
        Payboard.Events.setApiKey('838d5fa5-7e55-4a04-9789-98f49f4ce328');
        var customerUserEvent = {
            customerId: '@Model.CustomerId',
            customerName: '@Model.CustomerName',
            customerUserId: '@Model.CustomerUserId',
            customerUserFirstName: '@Model.CustomerUserFirstName',
            customerUserLastName: '@Model.CustomerUserLastName',
            customerUserEmail: '@Model.CustomerUserEmail',
            eventName: 'SawAboutPage'
        };
        Payboard.Events.trackCustomerUserEvent(customerUserEvent)
            .done(function() {
                console.log("End user event tracked: " + JSON.stringify(customerUserEvent));
            })
            .fail(function(err) {
                console.error("Unable to track end user event: " + JSON.stringify(err));
            });

        //$(function () {
        //    Payboard.Events.setApiKey('b32a62ab-00e3-4874-bdc5-a41e31257d9f');
        //    var data = {
        //        customerUserId: 'lsnicket',
        //        eventName: 'User-views-challenges',
        //        customerUserFirstName: 'Lemony',
        //        customerUserLastName: 'Snicket',
        //        customerUserEmail: 'lsnicket@gmail.com'
        //    };
        //    Payboard.Events.trackCustomerUserEvent(data);
        //});
    </script>
}
