@model PayboardApiTest.Models.CustomerUserModel
@{
    ViewBag.Title = "Payboard Widget Sample Page";  
}

<table class="table table-striped">
    <tr>
        <th>
            User Name
        </th>
        <th>Email</th>
        <th>Manage</th>
    </tr>
    <tr>
        <td>Matt</td>
        <td>matt@payboard.com</td>
        <td>
            <div id="div_for_matt"></div>
        </td>
    </tr>
    <tr>
        <td>Ken</td>
        <td>ken@payboard.com</td>
        <td>
            <div id="div_for_ken"></div>
        </td>
    </tr>

    <tr>
        <td>@Model.CustomerUserFirstName</td>
        <td>@Model.CustomerUserEmail</td>
        <td>
            <div id="div_for_new"></div>
        </td>
    </tr>

    <tr>
        <td>Not enough info</td>
        <td>Not enough info</td>
        <td>
            <div id="div_for_na"></div>
        </td>
    </tr>

</table>

@section Scripts
{
    <script type="text/javascript" src="http://dev.payboard.com/Widget/v1.0/Payboard.js"></script>
    <script type="text/javascript">
        var mattConfig = {
            organizationId: 1048,
            customerId: 'smithkl42',
            customerName: "Bob's Hotel and Supply",
            customerUserId: 'matt',
            customerUserFirstName: 'Matt',
            customerUserLastName: 'Dyor',
            customerUserEmail: 'matt@Payboard.com'
        };
        Payboard.widget(mattConfig).show('#div_for_matt');

        var kenConfig = {
            organizationId: 1,
            customerId: 'smithkl42',
            customerUserId: "ken",
            customerUserFirstName: 'Ken',
            customerUserLastName: 'Smith',
            customerUserEmail: 'ken@payboard.com'
        };
        Payboard.widget(kenConfig).show('#div_for_ken');

        var newConfig = {
            organizationId: 1,
            customerId: '@Model.CustomerId',
            customerName: '@Model.CustomerName',
            customerUserId: "@Model.CustomerUserId",
            customerUserName: '@(Model.CustomerUserFirstName + " " + Model.CustomerUserLastName)',
            // customerUserFirstName: '@Model.CustomerUserFirstName',
            // customerUserLastName: '@Model.CustomerUserLastName',
            customerUserEmail: '@Model.CustomerUserEmail'
        };
        Payboard.widget(newConfig).show('#div_for_new');
        
        var naConfig = {
            organizationId: 1,
            customerId: 'na',
            // customerUserId: "ken",
            customerUserFirstName: 'NotEnough',
            customerUserLastName: 'Information',
            customerUserEmail: 'ken@payboard.com'
        };
        Payboard.widget(naConfig).show('#div_for_na');

    </script>
}
